//
//  Secrets.xcconfig
//  PrographyAssignment
//
//  Created by 신정욱 on 2/14/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TMDB_API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0ZTAzMzIzNjIzOTU2NTFmYWJlNmY2M2VhZDYxN2NjMyIsIm5iZiI6MTczOTQ0MjQ2Ni43NjQsInN1YiI6IjY3YWRjOTIyZjg3YjM3OTYyNzlmNDY5MiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.JJs3mWEuqJKIdfPFMGv4m1XEqmLcAOsGjjniwrTUYuU
